@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Poppins", sans-serif;
}
.container{
    border-style: solid;
    border-width: 1px;
    max-width: 1000px;
    margin: 0 auto;
    height: 200vh;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    background-color: #081B29;
    
    align-items: center;
}

.navbar li{
    
    display: inline;
    list-style-type: none;
    margin: 50px;
    
    
}
.navbar a{
    text-decoration: none;
    color: #fdfdfd;
}
.logo{
    margin-left: 50px;
    color: #fdfdfd;
}

.home{
    display: flex;
    border-width: 1px;
    height: 60vh;
    background-color: #081B29;
    z-index: 0;
    justify-content: space-between;
}
.description{
    
    width: 50%;
    display: flexbox;
    margin-top: 150px;
    margin-left: 70px;
    color: #ffffff;
    
}

.description p{
 font-size: small;
}
.description span{
   color: #01ACF1;
}

.contact{
    border-style: solid;
    height: 40vh;     
}   

.myimage img{
    display: flex;
    margin-top: -250px;
}









